body {
background-image: url(bg.jpg);
background-repeat: no-repeat;
background-size: cover;


h1 {
       color:rgb(245, 165, 27);
       font-size: 3rem;
       font-family: "Jacquard 24", system-ui;
  }
 ul li {
    font-family: "Nothing You Could Do", cursive;
    font-style: italic;
 }
 span {
    color: red;
 }

  }
  #searchDiv {
    max-height:12rem;
    max-width: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  a{
text-decoration: none;
color: rgb(249, 162, 0)
  }
